<header class="global-header" role="banner">
    <a class="global-header__link" href="{{ site.url }}" rel="home">
        <span class="visually-hidden">{{ site.name }}</span>
    </a>
    {% include 'global/nav.twig' %}
</header>
