<section class="intro intro--dark background_copy">
    <div class="intro__inner">
        <div class="intro__content">
            {% if module.eyebrow %}
                <div class="intro__eyebrow">{{ module.eyebrow }}</div>
            {% endif %}
        </div>
    </div>
	<style type="text/css">
	.background_copy p {
		font-size: 30px;
	}
	.background_copy .intro__content {
		max-width: 100%;
	}
	.background_copy .intro__eyebrow {
    color: #fff;
}
	</style>
</section>
