<section class="homepage-articles">
    <div class="homepage-articles__inner">
        {% for item in module.items %}
            <article class="homepage-articles__item">
                <a class="homepage-articles__item-link" href="{{ item.post.path }}">
                    <div class="homepage-articles__item-category">
                        {{ item.post.categories[0].name }}
                    </div>
                    <h5 class="homepage-articles__item-title">{{ item.post.title }}</h5>
                </a>
            </article>
        {% endfor %}
    </div>
</section>
