/*
 * Global Nav
 * ======================================================================== */

.global-nav {
  .modal__inner {
    @include large-and-up {
      display: flex;
      height: auto;
      position: static;
      visibility: visible;
      width: auto;
    }
  }

  .modal__content {
    padding: 48px $site-margin-sm 112px;

    @include large-and-up {
      padding: 0;
    }
  }

  .modal__open,
  .modal__close,
  .modal__focus-start,
  .modal__focus-end {
    @include large-and-up {
      display: none;
    }
  }

  .modal__open {
    @include btn-reset;

    background-image: url('../svgs/menu-black.svg');
    background-size: 18px 8px;
    height: 24px;
    width: 24px;
  }

  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    @include large-and-up {
      display: flex;
    }

    .menu__trigger {
      @include btn-reset;
    }

    .menu__link {
      @include heading-1-alt;

      display: inline-block;
      padding: 2px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: color 100ms linear;

      @include large-and-up {
        @include body-3;

        align-items: center;
        display: flex;
        height: $header-height-lg;
        padding: 0;
      }

      &:hover {
        color: $red;
      }
    }

    .menu__list-item {
      margin-bottom: 48px;

      &:last-child {
        margin-bottom: 0;
      }

      @include large-and-up {
        margin: 0;
        padding-left: 32px;
      }
    }

    .current-menu-parent {
      .menu__link {
        color: $red;
      }
    }

    .menu-item-has-children {
      @include large-and-up {
        .menu__link {
          padding-right: 22px;

          &::after {
            background-image: url('../svgs/carat.svg');
            background-size: 12px 6px;
            content: '';
            height: 6px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
          }
        }

        &:hover {
          .menu__link {
            color: $red;
          }

          .sub-menu {
            display: flex;
          }
        }
      }
    }
  }

  .sub-menu {
    @include section;

    display: none;
    padding: 48px 0 0;

    @include large-and-up {
      background-color: $white;
      left: 0;
      padding: 80px $site-margin-lg;
      position: absolute;
      top: $header-height-lg;
      width: 100%;
    }

    &__list {
      @include section-inner;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style-type: none;
      margin: 0;
      padding: 0;

      @include large-and-up {
        flex-wrap: nowrap;
        justify-content: flex-start;
      }
    }

    &__list-item {
      @include news-item;

      margin-bottom: 24px;
      width: 48%;

      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }

      @include large-and-up {
        margin: 0 2% 0 0;
        width: 23%;

        &:last-child {
          margin-right: 0;
        }
      }

      &-link:hover {
        .sub-menu__list-item-title::after {
          height: 1.2em;
          opacity: 1;
        }
      }
    }

    &--expanded {
      display: flex;
    }
  }
}
