/*
 * Base
 * ======================================================================== */

body {
  @include body-1;

  background: $white;
  color: $black;
  font-family: $family-sohne;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: $weight-regular;
  height: 100%;
}

/*
 * Type
 * ======================================================================== */

a,
a:active,
a:visited {
  color: $black;
  text-decoration: underline;
  transition: color 100ms linear;
}

a:hover {
  color: $black-60;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  @include heading-1;
}

h2 {
  @include heading-2;
}

h3 {
  @include heading-3;
}

h4 {
  @include heading-4;
}

h5 {
  @include heading-5;
}

h6 {
  @include heading-6;
}

p {
  @include body-1;
}

button {
  transition: color 100ms linear;
}

/*
 * Layout
 * ======================================================================== */

main {
  flex: 1 0 auto;
  z-index: 1;
}

figure {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.visually-hidden {
  @include visually-hidden;
}
