/*
 * Media Queries
 * ======================================================================== */

@mixin small-only {
  @media (max-width: #{$small-max-width}) {
    @content;
  }
}

@mixin medium-only {
  @media (min-width: #{$medium-min-width}) and (max-width: #{$medium-max-width}) {
    @content;
  }
}

@mixin medium-and-up {
  @media (min-width: #{$medium-min-width}) {
    @content;
  }
}

@mixin large-only {
  @media (min-width: #{$large-min-width}) and (max-width: #{$large-max-width}) {
    @content;
  }
}

@mixin large-and-up {
  @media (min-width: #{$large-min-width}) {
    @content;
  }
}

@mixin extra-large-only {
  @media (min-width: #{$extra-large-min-width}) {
    @content;
  }
}

/*
 * Type
 * ======================================================================== */

@mixin rajdhani {
  font-family: $family-rajdhani;
  font-weight: $weight-regular;
  text-transform: uppercase;
}

@mixin sohne {
  font-family: $family-sohne;
  font-weight: $weight-regular;
  text-transform: none;
}

/*
 * Headers
 * ======================================================================== */

@mixin heading-1 {
  @include rajdhani;

  font-size: 48px;
  line-height: 1;

  @include large-and-up {
    font-size: 64px;
    line-height: 1;
  }
}

@mixin heading-1-alt {
  @include sohne;

  font-size: 32px;
  line-height: 1.25;

  @include large-and-up {
    font-size: 56px;
    line-height: 1.14;
  }
}

@mixin heading-2 {
  @include sohne;

  font-size: 32px;
  line-height: 1.25;

  @include large-and-up {
    font-size: 48px;
    line-height: 1.17;
  }
}

@mixin heading-3 {
  @include sohne;

  font-size: 24px; // 28px alt
  line-height: 1.33; // 1.29 alt

  @include large-and-up {
    font-size: 36px;
    line-height: 1.22;
  }
}

@mixin heading-3-alt {
  @include sohne;

  font-size: 24px;
  line-height: 1.33;

  @include large-and-up {
    font-size: 32px;
    line-height: 1.25;
  }
}

@mixin heading-4 {
  @include sohne;

  font-size: 20px;
  line-height: 1.4;

  @include large-and-up {
    font-size: 28px;
    line-height: 1.29;
  }
}

@mixin heading-4-alt {
  @include sohne;

  font-size: 20px;
  line-height: 1.4;

  @include large-and-up {
    font-size: 24px;
    line-height: 1.33;
  }
}

@mixin heading-5 {
  @include sohne;

  font-size: 16px;
  line-height: 1.5;

  @include large-and-up {
    font-size: 20px;
    line-height: 1.4;
  }
}

@mixin heading-6 {
  @include sohne;

  font-size: 14px;
  line-height: 1.71;

  @include large-and-up {
    font-size: 16px;
    line-height: 1.5;
  }
}

/*
 * Body
 * ======================================================================== */

@mixin body-1 {
  @include sohne;

  font-size: 16px;
  line-height: 1.5;
}

@mixin body-2 {
  @include sohne;

  font-size: 14px;
  line-height: 1.71;
}

@mixin body-3 {
  @include sohne;

  font-size: 12px;
  line-height: 1.67;
}

/*
 * Misc
 * ======================================================================== */

@mixin eyebrow {
  @include body-2;

  color: $red;
  margin-bottom: 24px;
}

@mixin label {
  @include body-3;

  background-color: $red;
  color: $white;
  display: inline-block;
  padding: 5px 10px;
}

@mixin stat-1 {
  @include sohne;

  color: $red;
  font-size: 64px;
  line-height: 1.13;

  @include large-and-up {
    font-size: 110px;
    line-height: 1;
  }
}

@mixin stat-2 {
  @include sohne;

  color: $red;
  font-size: 56px;
  line-height: 1.14;

  @include large-and-up {
    font-size: 88px;
    line-height: 1;
  }
}

@mixin btn-reset {
  background: none;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  font-family: $family-untitled-serif;
  font-weight: $weight-regular;
  margin: 0;
  padding: 0;
  text-align: center;

  &[type='button'] {
    appearance: none;
  }
}

@mixin lowlight {
  background: $black-grad;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
 * Layout
 * ======================================================================== */

@mixin flex-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin clear-last-child {
  *:last-child {
    margin-bottom: 0;
  }
}

@mixin section {
  @include flex-column;

  background-color: $white;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  padding: 48px $site-margin-sm;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  width: 100%;

  @include large-and-up {
    padding: 120px $site-margin-lg;
  }
}

@mixin section-inner {
  margin: 0 $inner-margin-sm;
  max-width: $max-width-inner;
  position: relative;
  width: 100%;

  @include large-and-up {
    margin: 0 $inner-margin-lg;
  }
}

@mixin image-wrapper {
  overflow: hidden;
  position: relative;
}

@mixin image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute !important;
  top: 0;
  width: 100%;
}

@mixin bg-image {
  background-position: center center;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
