/*
 * Colors
 * ======================================================================== */

$black: #000;
$white: #FFF;
$red: #ED2A37;
$gray: #91999F;
$off-white: #D9D9D6;

$black-20: rgba(0, 0, 0, 0.2);
$black-60: rgba(0, 0, 0, 0.6);

/*
 * Typography
 * ======================================================================== */

$family-rajdhani: 'Rajdhani', sans-serif;
$family-sohne: 'Sohne', sans-serif;
$weight-bold: bold;
$weight-regular: normal;

/*
 * Media Queries
 * ======================================================================== */

$small-max-width: 767px;
$medium-min-width: 768px;
$medium-max-width: 1024px;
$large-min-width: 1025px;
$large-max-width: 1440px;
$extra-large-min-width: 1441px;

/*
 * Layout
 * ======================================================================== */

$site-margin-sm: 28px;
$site-margin-lg: 88px;

$inner-margin-sm: 0;
$inner-margin-lg: 72px;

$header-height-sm: 64px;
$header-height-lg: 80px;

$max-width-heading: 760px;
$max-width-content: 688px;
$max-width-full: 1264px;
