<header class="topic topic--{{ module.type }}">
    <div class="topic__inner">
        <div class="topic__eyebrow">{{ module.eyebrow }}</div>
        <h2 class="topic__heading">{{ module.heading }}</h2>

    </div>
</header>
