{% block html_head %}
    {% include 'global/html-head.twig' %}
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">
    {% block header %}
        {% include 'global/header.twig' %}
    {% endblock %}

    <main class="global-main" role="main">
        {% block content %}
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'global/footer.twig' %}
    {% endblock %}
</body>
</html>
