/*
 * Hero Module
 * ======================================================================== */

.hero {
  @include section;

  background-color: $black;
  color: $white;

  &__inner {
    @include section-inner;
  }

  &__content {
    @include clear-last-child;

    max-width: $max-width-hero;
  }

  &__eyebrow {
    @include eyebrow;
  }

  &__body {
    @include clear-last-child;

    p {
      @include heading-6;
    }
  }

  &__image {
    @include image-wrapper;
    @include bg-image;

    &::after {
      @include lowlight-grad-80;
    }
  }

  &__img {
    @include image;
  }
}
