/*
 * Homepage Hero Module
 * ======================================================================== */

.homepage-hero {
  background-color: $black !important;
  color: $white;
  height: calc(100vh - 64px);
  max-height: 540px;
  width: 100%;

  @include large-and-up {
    height: calc(100vh - 80px);
    max-height: 660px;
  }

  &__inner {
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__content {
    @include section;

    align-items: flex-start;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__header {
    @include clear-last-child;
  }

  &__heading {
    margin-bottom: 16px;

    @include large-and-up {
      font-size: 104px;
      line-height: 1;
    }
  }

  &__body {
    margin-bottom: 48px;
    max-width: $max-width-content;
  }

  &__btn {
    @include btn-arrow-inverted;
  }

  &__slides {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__slides-wrapper {
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    transition: transform 400ms ease-out;
  }

  &__slide {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 100%;

    &-img {
      height: calc(100vh - 64px);
      max-height: 540px;
      object-fit: cover;
      position: absolute !important;
      right: 0;
      top: 0;
      width: 100vw;

      @include large-and-up {
        height: calc(100vh - 80px);
        max-height: 660px;
      }
    }

    &-image {
      @include image-wrapper;

      overflow: hidden;
      position: absolute;

      &--top {
        height: 100%;
        width: 100%;

        @include medium-and-up {
          height: auto;
          opacity: 0.6;
          padding-bottom: 25%;
          right: 88px;
          width: 60%;
        }

        &::after {
          @include lowlight-grad-80;

          @include medium-and-up {
            display: none;
          }
        }

        .homepage-hero__slide-img {
          @include medium-and-up {
            right: -88px;
          }
        }
      }

      &--mid {
        display: none;
        opacity: 0.6;
        padding-bottom: 30%;
        right: 160px;
        width: 65%;

        @include medium-and-up {
          display: block;
          top: 160px;
        }

        @include large-and-up {
          top: 220px;
        }

        .homepage-hero__slide-img {
          right: -160px;

          @include medium-and-up {
            top: -160px;
          }

          @include large-and-up {
            top: -220px;
          }
        }
      }

      &--btm {
        display: none;
        opacity: 0.8;
        padding-bottom: 15%;
        right: 0;
        width: 40%;

        @include medium-and-up {
          display: block;
          top: 330px;
        }

        @include large-and-up {
          top: 460px;
        }

        .homepage-hero__slide-img {
          @include medium-and-up {
            top: -330px;
          }

          @include large-and-up {
            top: -460px;
          }
        }
      }
    }
  }

  &__nav {
    bottom: 0;
    display: flex;
    height: 40px;
    position: absolute;
    right: 0;
    width: 80px;

    &-btn {
      @include btn-reset;

      background-color: $red;
      background-position: center center;
      background-size: 6px 10px;
      height: 40px;
      transition: opacity 100ms linear;
      width: 40px;
      z-index: 1;

      &:hover {
        opacity: 0.9;
      }
    }
  }

  &__prev {
    background-color: $dark-red;
    background-image: url('../svgs/prev.svg');
  }

  &__next {
    background-image: url('../svgs/next.svg');
  }
}
